<ion-header class="ion-no-border">

  <ion-item class="heading-item" lines="none">
    <ion-avatar slot="end">
      <img src="../../assets/profile_pic.svg">
    </ion-avatar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home/tabs/account" fill="clear" color="light" text="">

      </ion-back-button>
    </ion-buttons>

    <h2>{{traderModel.traderName}}</h2>
  </ion-item>


</ion-header>
<ion-content [fullscreen]="true">
  <ion-item class="heading-item" lines="none">

    <ion-grid>
      <div class="ion-padding-start ion-padding-bottom">
      <ion-row class="ion-align-items-center">
        <ion-col size="3" offset="1.5">
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="information-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="document"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="10">
          <ion-searchbar placeholder="search by date or name" searchIcon="search"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-button color="light" fill="clear">
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
      </ion-grid>
      </ion-item>


  <div class="ion-padding">
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="6">
        <h5>4 Results</h5>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button fill="clear" color="dark">
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>


<ion-list>




      <ion-item *ngFor="let bill of traderModel.bills">
        <ion-card size="3">
          <ion-card-header>
            <ion-row class="ion-align-items-center">
              <ion-col size="6">
                <ion-badge *ngIf="bill.payment.type==='Installments'" color="warning" mode="ios" >

                  {{bill.payment.installmentsRemaining}} installments Left
                </ion-badge>
                <ion-badge *ngIf="bill.payment.type==='Installments'" color="danger" mode="ios" >

                  {{bill.amount-bill.payment.amountPayed | currency:'INR':'symbol':'4.0-5'}} unpaid
                </ion-badge>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <ion-card-subtitle color="success" >{{bill.Date}}</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <h1>{{bill.ShipmentName}}</h1>
                <ion-card-subtitle>{{bill.amount | currency:'INR':'symbol':'4.0-5'}}</ion-card-subtitle>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <ion-buttons fill="clear" color="dark">

                      <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>


                </ion-buttons>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <ion-buttons fill="clear" color="dark"  routerLink="/details">


                        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>

                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        </ion-item>






</ion-list>



  </div>
</ion-content>
