<ion-header>
  <ion-toolbar>
    <ion-title>
      Billing Section
    </ion-title>
  </ion-toolbar>
</ion-header>


 <ion-content>
  <img src="../../../assets/filing.svg">

  <img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Create
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Recieve
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
      </ion-card> <ion-card>
        <ion-card-header>
          <ion-card-title>
            Histroy
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
        </ion-card>
 </ion-content>




